<!DOCTYPE html>
<html>
  <head>
    <title>TriviaBot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styleindex.css') }}">
  </head>  
  <body>
    <div class="login-box">
        <h2>Question Box</h2>
        <form method= "POST" action = "" enctype="multipart/form-data">          
          <input type="text" id="question" name="question" placeholder="Ask anything"><button class="button" role="button">Search</button>         
        </form>       
      </div>      
      </body>                                    
      </script>
      
       
  </body>
</html>



